<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions for various intents -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeMaster">
        
        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeMaster">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Second Activity for explicit intents -->
        <activity
            android:name=".SecondActivity"
            android:exported="false"
            android:label="Second Activity"
            android:theme="@style/Theme.ComposeMaster" />
            
        <!-- Implicit Intent Activity -->
        <activity
            android:name=".ImplicitIntentActivity"
            android:exported="true"
            android:label="Implicit Intent Handler"
            android:theme="@style/Theme.ComposeMaster">
            
            <!-- Custom action handler -->
            <intent-filter>
                <action android:name="com.example.intents.CUSTOM_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
            <!-- Custom URI scheme handler -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="intentsample" android:host="item" />
            </intent-filter>
            
            <!-- Text handling -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <!-- Puzzle Activity -->
        <activity
            android:name=".PuzzleActivity"
            android:exported="true"> <!-- explict intent possible to PuzzleActivity -->
            <intent-filter>
                <action android:name="com.example.intents.START_PUZZLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.example.intents.PUZZLE_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="puzzle" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.example.intents.CATEGORY_PUZZLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.intents.category.PUZZLE_PIECE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.example.intents.EXTRAS_PUZZLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.example.intents.FINAL_CHALLENGE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="puzzle" android:host="final" android:pathPrefix="/challenge" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>
